* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(120deg, #000000be, #000000);
  color: white;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  outline: none;
}

form button {
  color: #741a01;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #741a01;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;  
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  
}

.todo li {
  flex: 1;
  
}
.todo-item {
  padding: 0rem 0.5rem;
}

.trash-btn,
.complete-btn {
  background: #741a01;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background-color: #09026e;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 2rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #741a01;
  background: white;
  width: 10rem;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #741a01;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #741a01;
}
option {
  font-size: 0.9rem;
}

footer {
  margin-top: 2.5rem;
  text-align: center;
}

@media all and (max-width: 770px) {
  header {
    font-size: 0.8rem;
  }

  header,
  form {
    margin: 0 0 -1.5rem;
  }

  form input,
  form button {
    font-size: 0.7rem;
  }

  #error {
    font-size: 0.6rem;
  }
  
  select {
    width: 5rem;
    padding: 0.6rem;
    font-size: 0.5rem;
    background: white;
  }

  .select::after {
    content: "\25BC";
    
    position: absolute;
    padding: 0.17rem;
    font-size: 1rem;
  }
  .select:hover::after {
    background: white;
    color: #741a01;
  }

  .select {
    margin: 0.5rem;
    
  }
  option {
    font-size: 0.3rem;
  }

  .todo-list {
    min-width: 20%;
  }
  .todo{
    margin: 0.5rem;
    font-size: 0.8rem;
  }
  .todo-item {
    padding: 0rem 0.7rem;
  }

  footer {
    font-size: 0.7rem;
  }
}
